label { 
    width: 50px;
    display: inline-block;
}
input[type="text"] {
    width: 50px;
}
div.itemContainer { display: inline-block; width: 500px; height: 500px; }
div.inner {background-color: #efefef;}

pre { 
    font-family: 'Courier New', Courier, monospace;
}
div.codeContainer { vertical-align: top; }